@import "tailwindcss";

@layer components {
  .nav-btn {
    @apply px-3 py-1.5 rounded-md text-sm font-medium 
           hover:bg-blue-50 hover:text-blue-600 
           transition cursor-pointer;
  }
  .nav-link {
  @apply hover:text-blue-600 transition;
}

.dropdown {
  @apply absolute top-9 left-0 bg-white border rounded-md shadow-lg py-1 w-48 z-50;
}

.dropdown-item {
  @apply block w-full text-left px-4 py-2 text-sm hover:bg-gray-100;
}
.form-label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }

  .form-input {
    @apply w-full border border-gray-300 rounded-md px-3 py-2 text-sm
           focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}
